# ==========================================
# PROJETO: IoT Streaming (Kafka + Spark + PostgreSQL)
# ==========================================

# ------------------------------------------
# Python
# ------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/
.env
.env.*

# Jupyter / Databricks
.ipynb_checkpoints/
*.dbc
*.ipynb

# Compiled objects / C extensions
*.so
*.dll
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Unit test / coverage reports
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

# Logs
*.log
logs/
log.txt

# ------------------------------------------
# Docker
# ------------------------------------------
# Docker build cache
**/.docker/
**/.dockerignore
.tmp_docker_layer_*
*.pid
*.pid.lock

# Ignore Docker volumes (arquivos diretos)
volumes/*
!volumes/*/

# ------------------------------------------
# Spark / Hadoop
# ------------------------------------------
spark-warehouse/
metastore_db/
.derby.log
tmp/
checkpoint/
**/spark-checkpoint/

# ------------------------------------------
# IDEs / Editores
# ------------------------------------------
.vscode/
.idea/
*.iml

# ------------------------------------------
# Outros
# ------------------------------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
